*{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
.withbg {
    height: 100%;
    background-size: cover;
    background-position: center;
}
.icons {
   
    position: fixed;
    top: 30%;
    left: 0%;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.icons a {
    margin: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border-radius: 0px 50px 50px 0px ;
    transform: translate(-130px, 0px);
    transition: all 0.7s;

}
.icons a:hover 
{
    transform: translate(0px, 0px);

}

.icons a i {
    margin-left: 25px;
    background-color: white;
    height: 30px;
    width: 30px;
    color: black;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: all 0.5s;

}
.icons a:hover i {
    transform: rotate(360deg);

}
.icons  a  i.fab fa-facebook-f {
    color:  #2c80d3;
}
.icons  a  i.fab fa-youtube {
    color:  #fa0910;
}
.icons  a  i.fab fa-twitter-square{
    color:  #53c5ff;
}

.face {
    background-color: #2c80d3;
    color: white;
}
.you {
    background-color: #fa0910;
    color: white;
}
.twt {
    background-color: #53c5ff;
    color: white;
}
