@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body{
    overflow-x: hidden;
    font-family: 'Alegreya Sans', sans-serif;
    
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: grey;
    opacity: .9;
    overflow-x:hidden;
    padding-top: 60px;
    transition: 0.8s;
}
.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 26px;
    text-decoration: none;
    color: white;
}
.nav a:hover {
    color: rgb(59, 59, 59);
    transition: 0.4s;
}
.nav .close {
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px;
}
.slide a {
    color: rgb(0, 0, 0);
    font-size: 36px;
}
#cont {
    padding: 40px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    background:linear-gradient(to right, #B06AB3, #4568DC);
    
}
/* stop */
body{
    background-color: white;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    /* background-color: rgb(92, 90, 228); */
    background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#logo{
    height: 100%;
    float: left;
    background-color: white;
}

#h1-{
    float: left;
    line-height: 100px;
    text-shadow:2px 2px palevioletred;
    padding: 0 15px;
}
#pic{
    height: 100%;
    /* border-radius: 50%; */
}
nav{
width: 78%;
float: right;
}
nav a{
    text-decoration: none;
    color: white;
    font-size:20px;
    display: inline-block;
}
nav li{
    display: inline-block;
    line-height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
    margin-left: 70px;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav a:hover {
    color: #000;
    height: 70%;
    width: 70%;
}
nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    pointer-events: fill;
    top: 0px;
    width: 0%;
    transition: all ease-in-out 300ms;  
}
nav a:hover::before {
    width: 100%;
}

/* css form */
*,
*::after,
*:before{
    padding: 0;
    margin: 0;
    
}
html{
    font:normal 20px/1.5 sans-serif;
}
h1{
    margin: 1rem 2rem;
}
form{
    margin: 2rem;
    width: 800px;
}
#form-user {
    margin: auto;
}
.form-box{
    padding: 1rem;
    clear: both;
    width: 100%;
    position: relative;
}
.form-box label{
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 20px;
}
.form-box input{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box select{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box option{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box input[type="checkbox"]{
    font-size: 1rem;
}
.form-box button{
    font-size: 1rem;
    border: none;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

.error::after{
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position:absolute;
    right: 0;
    content: attr(data-errormsg);
}

/* animation css */
*{
    margin: 0;
    padding: 0%;
}
.animat-area {
    background: linear-gradient(to left, #4568DC,  #B06AB3);
    /* background: linear-gradient(to left, #8943a8, #ba382f); */
    width: 100%;
    height: 100vh;
}
.box-area {
    position: absolute;
    /* top: 0; */
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;

}
.box-area li:nth-child(1){
    left: 86%;
    width: 80%;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
    animation-duration: 5s;
}
.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 5s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 4s;
}
.box-area li:nth-child(6){
    left: 15%;
    width: 140px;
    height: 140px;
    animation-delay: 3.5s;
    animation-duration: 5s;
}
.box-area li:nth-child(7){
    left: 20%;
    width: 20%;
    height: 20px;
    animation-delay: 1.5s;
    animation-duration: 5s;
}

@keyframes animate{
0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
}
100%{
    transform: translateY(-800px) rotate(360deg);
    opacity:0 ;

}

}

/* fooooooterrrrr */
/* .footer-wrapper {
    width: 1100px;
    margin: 0 auto;

}
.single-footer {
    width: 33%;
    float: left;
    text-align: left;
    color: purple;

}
.single-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.single-footer ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: royalblue;
    font-size: 12px;
}
.single-footer p{
    width: 70%;
}
footer {
    width: 100%;
    height: 250px;
    position: fixed;
    bottom: 0;
    z-index: -1;
    background-color: gray;
    

} */

/* 




/* loading */
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #4568DC,  #B06AB3);
    /* overflow: hidden; */
    

}
.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    top: 0;


}


.popo {
    margin-top: 20px;
    margin-bottom: 30px;
    direction: rtl;
    color: rgb(0, 0, 0);
    margin-left: 200px;
    margin-right: 200px;
    font-size: 17px;
    /* margin-bottom: 400px; */
    padding: 20px;
    /* position: absolute; */

}
#title {
    text-align: center;

}

/* foooter */
.footer-bottom {
    color: rgb(0, 0, 0);
   height:50px;
   width: 100%;
   text-align: center;
   bottom: 0px;
   left: 0px;
   padding-top: 20px;
}  


/* btn check */
.center1 {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

#inner2[type="checkbox"] {
    
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background:#c6c6c6c6 ;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .5s;
}
#inner2:checked[type="checkbox"] {
    background:#03a9f4 ;
}
#inner2[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}
#inner2:checked[type="checkbox"]:before {
    left: 40px;
}