@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');
body{
    overflow-x: hidden;
    font-family: 'Alegreya Sans', sans-serif;
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: grey;
    opacity: .9;
    overflow-x:hidden;
    padding-top: 60px;
    transition: 0.8s;
}
.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 26px;
    text-decoration: none;
    color: white;
}
.nav a:hover {
    color: rgb(59, 59, 59);
    transition: 0.4s;
}
.nav .close {
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px;
}
.slide a {
    color: rgb(0, 0, 0);
    font-size: 36px;
}
#cont {
    padding: 40px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    background:linear-gradient(to right, #B06AB3, #4568DC);
}

/* stop */

body{
    background-color: white;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    /* background-color: rgb(92, 90, 228); */
    background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#logo{
    height: 100%;
    float: left;
    background-color: white;
}

#h1-{
    float: left;
    line-height: 100px;
    text-shadow:2px 2px palevioletred;
    padding: 0 15px;
}
#pic{
    height: 100%;
    /* border-radius: 50%; */
}
nav{
width: 78%;
float: right;
}
nav a{
    text-decoration: none;
    color: white;
    font-size:20px;
    display: inline-block;
}
nav li{
    display: inline-block;
    line-height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
    margin-left: 70px;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav a:hover {
    color: #000;
    height: 70%;
    width: 70%;
}
nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    pointer-events: fill;
    top: 0px;
    width: 0%;
    transition: all ease-in-out 300ms;  
}
nav a:hover::before {
    width: 100%;
}



/* test */
h1 {
    text-align: center;
}
.header { 
    background-color: rgb(104, 113, 230);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1 0 1 0;
    margin-top: 10px;

}
.body {
    text-align: center;
    /* border-style: solid; */
    border: 3 3 3 3;
    border-radius: 10px;
    margin-top: 14px;  
}
.question {
    text-align: center;
    /* border-style: solid; */
    border: 3 3 3 3;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: rgb(248, 148, 198);
}
button {
    font-size: 30px;
    background-color: rgb(243, 154, 239);
}

/* loding */
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #4568DC,  #B06AB3);
    /* overflow: hidden; */
    

}
.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    top: 0;


}

.footer-bottom {
    color: rgb(0, 0, 0);
   height:50px;
   width: 100%;
   text-align: center;
   bottom: 0px;
   left: 0px;
   padding-top: 20px;
}  




.withbg {
    height: 100%;
    background-size: cover;
    background-position: center;
}
.icons {
   
    position: fixed;
    top: 30%;
    left: 0%;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}
.icons a {
    margin: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border-radius: 0px 50px 50px 0px ;
    transform: translate(-130px, 0px);
    transition: all 0.7s;

}
.icons a:hover 
{
    transform: translate(0px, 0px);

}

.icons a i {
    margin-left: 25px;
    background-color: white;
    height: 30px;
    width: 30px;
    color: black;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: all 0.5s;

}
.icons a:hover i {
    transform: rotate(360deg);

}
.icons  a  i.fab fa-facebook-f {
    color:  #2c80d3;
}
.icons  a  i.fab fa-youtube {
    color:  #fa0910;
}
.icons  a  i.fab fa-twitter-square{
    color:  #53c5ff;
}

.face {
    background-color: #2c80d3;
    color: white;
}
.you {
    background-color: #fa0910;
    color: white;
}
.twt {
    background-color: #53c5ff;
    color: white;
}
